.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
}

.bedroom {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bath {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kitchen {
  background-color: orange;
}

.oven {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sink {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

.livingroom {
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
}

#floor-plan {
  padding: 2rem;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns:  repeat(10, 1fr);
  grid-template-areas: 
  "b1 b1 b1 b1 lv lv lv lv ki ki"
  "b1 b1 b1 b1 lv lv lv lv ki ki"
  "b1 b1 b1 b1 lv lv lv lv ki ki"
  "b1 b1 b1 b1 lv lv lv lv ki ki"
  "fb fb fb fb lv lv lv lv ki ki"
  "fb fb fb fb lv lv lv lv ki ki"
  "b2 b2 b2 b2 hb hb b3 b3 b3 b3"
  "b2 b2 b2 b2 hb hb b3 b3 b3 b3"
  "b2 b2 b2 b2 hb hb b3 b3 b3 b3"
  "b2 b2 b2 b2 hb hb b3 b3 b3 b3";
}

#bedroom1{
  grid-area: b1;
}

#full-bath{
  grid-area: fb;
}

#bedroom2{
  grid-area: b2;
}

#living-room{
  grid-area: lv;
}

#half-bath{
  grid-area: hb;
}

#bedroom3{
  grid-area: b3;
}

#kitchen{
  grid-area: ki;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

#kitchen-label{
  display: flex;
  justify-content: center;
  margin-top: 23vh;
}

#oven{
  grid-area: ov;
  width: 50%
}

#sink{
  grid-area: si;
  width: 50%;
}

#oven-sink {
  display: flex;
}